html{
    /* Delaring the font variables */
    --blog-font-family: 'Open Sans', sans-serif;
    --header-font-family:'Alkalami', serif;
    --font-family:'Oswald', sans-serif;

     /* Delaring the text color variables */
     --text-color: rgb(24, 24, 24);
     /* --header-text-color:rgb(238, 164, 80);
     --header-text-color-hover:rgb(233, 134, 22); */
     --header-text-color:rgb(53, 53, 53);
     --header-text-color-hover:rgb(14, 14, 14);

     /* Declaring the font-size */
     --header-font-size: 1.3rem;

     /* Declaring dimensions */
     --header-height: 3.5rem;

    /* Delaring the color variables */
    --linear-background-color: linear-gradient(248deg, rgb(252, 252, 252), rgb(234, 234, 234));
    --background-color-light: rgb(245, 177, 100);
    --background-color-dark: rgb(233, 134, 22);
    /* --background-color-light: rgb(53, 53, 53);
    --background-color-dark: rgb(10, 10, 10); */

    /* --header-background-color: rgba(24, 24, 24); */
    --header-background-color: rgb(250, 250, 250);
    --hero-image-content-background: rgba(14, 14, 14, 0.8)
}

body{
    background: var(--linear-background-color);
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    text-align: center;
}

/* start of index header and hero-content styling */



header{
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    box-shadow: 0 0 8px -1px rgb(0 0 0 / 25%);
    font-family: var(--header-font-family);
    font-size: var(--header-font-size);
    background-color: var(--header-background-color);
    height: var(--header-height);
    padding: 0 5%;
}

.nav-menu{
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-menu li{
    margin: 0 0.6rem;
    list-style-type: none;
}



header a{
    text-decoration: none;
    color: var(--header-text-color);
}

header a:hover{
    color: var(--header-text-color-hover);
    text-shadow: rgb(14, 14, 14);
    text-transform: uppercase;
}



#hero-image-container{
    background-color: rgb(32, 32, 32);
    height: 500px;
    background-position: center;
    overflow: hidden;
    background-size:cover;
    object-fit: cover;
}


#hero-content{
    font-family: var(--header-font-family);
    font-size: 1.3rem;
    color:rgb(234, 234, 234);
    text-align: left;
    padding-left: 3rem;
    line-height: 2rem;
    margin: 0 0 0.8rem;
    text-transform: capitalize;
}

#hero-content h1{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 3rem;
    font-family: var(--blog-font-family);
}

form input{
    height: 30px;
    border-radius: 5px;
    margin-top: 1.5rem;
}

form input:focus{
    font-size: 1.2rem;
}

form button,
.program-content a button,
.download-link a,
.blog-explore-btn button{
    margin-left: 1.2rem;
    margin-bottom: 13px;
    border-radius: 5px;
    background-color: var(--background-color-light);
    color: white;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
    border: 0;
}

form button:hover,
.download-btn a button:hover,
.blog-explore-btn a button:hover,
.architecture-btn a button:hover{
    background-color: var(--background-color-dark);
    color: rgba(230, 230, 230);
    font-weight: bold;
}

/* End of index header and hero-content styling */


a{
    text-decoration: none;
}

